@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Registration;
@{

    Layout = "_Layout";
}


<h1 class ="text-center mt-4">Application Form</h1>


<div class="container text-white">
        @if (TempData["ErrorMassege"] != null)
    {


       @if(TempData["ErrorMassege"] == "success")
        {
            <div class="alert alert-primary" role="alert">
                your application is successfully sent
            </div>
        }
       @if(TempData["ErrorMassege"] == "Error")
       
        {
            <div class="alert alert-danger" role="alert">



            </div>
        }

    }
    <div  class="row">
   <form enctype="multipart/form-data"  method="post"  asp-controller="Registration" asp-action="Register">


<div class="col-6">
<div class="mb-3">
  <label  class="form-label">First Name</label>
  <input type="text" asp-for="FirstName" class="form-control"  placeholder="Abdirahman">
</div>

    </div>

        <div class="col-6">
            <div class="mb-3">
  <label  class="form-label">Last Name</label>
  <input type="text" asp-for="LastName"  class="form-control" placeholder="Mohamud">
</div>
    </div>

     <div class="col-6">
<div class="mb-3">
  <label  class="form-label">Date of birth</label>
  <input type="date" asp-for="DateOfBirth"  class="form-control" >
</div>

    </div>

        <div class="col-6">
            <div class="mb-3">
  <label  class="form-label">Email</label>
  <input type="email" asp-for="Email" class="form-control"  placeholder="example@gmal.com">
</div>
    </div>


         <div class="col-6">
<div class="mb-3">
  <label class="form-label">Username</label>
  <input type="text" asp-for="Username"  class="form-control"  placeholder="Username">
</div>

    </div>

   <div class="col-6">
            <div class="mb-3">
  <label  class="form-label">Password</label>
  <input type="password" asp-for="Password" class="form-control"  placeholder="*******************">
</div>
    </div>


                     <div class="col-6">
<div class="mb-3">
  <label class="form-label">Address</label>
  <input type="text"asp-for="Address"  class="form-control"  placeholder="Howlwadaag,Bakaaro,Hormuud Tower">
</div>

    </div>

   <div class="col-6">
  <div class="mb-3">
  <label  class="form-label">Mobile Number</label>
  <input type="text" asp-for="MobileNumber"  class="form-control"  placeholder="61xxxxxxx">
</div>
    </div>

            <div class="col-6">
<div class="mb-3">
  <label  class="form-label">File</label>
  <input type="file"  asp-for="File"  class="form-control" >
</div>

    </div>

   <div class="col-6">
       <div class="mt-4">
       <div class="row">
           <div class="col-6">
                    <div class="form-check">
  <input class="form-check-input" type="radio" value="Female" asp-for="Gender" id="femaleRadio">
  <label class="form-check-label" for="femaleRadio">
    Female
  </label>
</div>
           </div>

           <div class="col-6">
       <div class="form-check">
  <input class="form-check-input" type="radio" value="Male" asp-for="Gender" id="maleRad" checked>
  <label class="form-check-label" for="flexRadioDefault2">
    Male
  </label>
</div>
           </div>
       </div>
       </div>



    </div>



    <div class="col-6">
        <label  class="form-label">Faculty</label>
   <select class="form-select" asp-for="FaucultyId"  aria-label="Default select example">
       @foreach (var faculty in ViewBag.faculties)
                    {
                        <option value="@faculty.ID">@faculty.FacultyName</option>
                    }

  
</select>


    </div>

       <div class="col-6">
           <label  class="form-label">Education Level</label>
   <select class="form-select" asp-for="EducationLevel"  aria-label="Default select example">
                    

  <option selected>Select</option>
  <option value="1">Bachelor Degree</option>
  <option value="2">Masters Degree</option>
  <option value="3">Phd</option>
</select>


    </div>

    <div class="mt-5">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>



   </form>
</div>






</div>